*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0F172A;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 10%;
}

.logo{
    color:#38BDF8;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38BDF8;
}

.hero{
    min-height:90vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 10%;
}

.hero-text{
    max-width:600px;
}

.hero-text h1{
    font-size:4rem;
    color:#38BDF8;
}

.hero-text h2{
    margin-top:10px;
}

.description{
    margin-top:20px;
    line-height:1.8;
    color:#CBD5E1;
}

.buttons{
    margin-top:30px;
}

.btn-primary,
.btn-secondary{
    text-decoration:none;
    padding:12px 25px;
    border-radius:8px;
    margin-right:10px;
}

.btn-primary{
    background:#38BDF8;
    color:#0F172A;
    font-weight:bold;
}

.btn-secondary{
    border:2px solid #38BDF8;
    color:#38BDF8;
}

.hero-image img{
    width:350px;
    border-radius:50%;
}